@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#root {
    max-width: 1200px;
  }

.main-text{
    font-size: 20px;
    color: #FF004D;
}
.text{
    font-size: 20px;
    color: #FF004D;
}
.img{
    border-radius: 50%;
    width: 50%;
}